<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css" th:href="@{/css/main.css}" type="text/css">
    <link rel="stylesheet" href="/static/css/header.css.css" th:href="@{/css/header.css}" type="text/css">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<header>
    <div class="container">
        <div class="nav">
            <div>
                <a href="/">главная</a>
            </div>
            <div>
                <a href="/profile/" th:href="@{'/profile/'+${#authentication.getPrincipal().getUserId()}}"
                   style="padding-right: 40px; border-right: 2px solid white">профиль</a>
                <a href="" style="margin-left: 40px">тренировки</a>
            </div>
            <div>
                <a sec:authorize="isAuthenticated()" href="/logout">выход</a>
            </div>
        </div>

    </div>
</header>
<section style="margin-top: 40px">

    <div class="container">

        <h1 style="margin-bottom: 20px">Наши залы</h1>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide card" th:each="gym: ${gyms}">
                    <div class="gym-card">
                        <div class="card-img"
                             th:style="'background:url('+*{'data:image/jpeg;base64,'+{gym.image}}+');  background-repeat: no-repeat;background-size: cover;'"></div>

                        <!--                        <img alt="" th:src="*{'data:image/jpeg;base64,'+{gym.image}}"-->
                        <!--                             style=" min-height: 200px;max-height: 200px; width: 100%">-->
                        <p>Город: <span th:text="${gym.getCity()}"></span></p>
                        <p>Улица: <span th:text="${gym.getStreet()}"></span></p>
                        <p>Дом: <span th:text="${gym.getHouse()}"></span></p>
                        <center><a th:href="@{'/gym/' + ${gym.getId()} }">Перейти к залу</a></center>
                    </div>
                </div>

            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>


            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form action="/addGym" method="post" enctype="multipart/form-data">

                    <!-- Name -->
                    <input type="text" name="city" placeholder="City" required>

                    <!-- Price -->
                    <input type="text" name="street" placeholder="Street" required>
                    <input type="text" name="house" placeholder="House" required>
                    <!-- Description -->

                    <div class="custom-file mb-4">
                        <input type="file" name="file"
                               id="customFile" required> <label
                            for="customFile">Product Image</label>
                    </div>
                    <!-- Sign in button -->
                    <button type="submit">add</button>
                </form>
            </div>

    </div>
</section>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>
</body>
</html>