<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css" th:href="@{/css/main.css}" type="text/css">
    <link rel="stylesheet" href="/static/css/header.css.css" th:href="@{/css/header.css}" type="text/css">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>

<body>


<header>
    <div class="container">
        <div class="nav">
            <div>
                <a href="/">главная</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a   th:href="@{'/profile/'+${#authentication.getPrincipal().getUserId()}}"
                     style="padding-right: 40px;">профиль</a>
                <a  href="/gyms" style="margin-left: 40px">залы</a>
            </div>
            <div>
                <a sec:authorize="isAuthenticated()" href="/logout">выход</a>

            </div>
        </div>

    </div>
</header>
<section style="margin-top: 40px">

    <div class="container">

        <h1 style="margin-bottom: 20px">Наши залы</h1>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide card" th:each="gym: ${gyms}">
                    <div class="gym-card">
                        <div class="card-img"
                             th:style="'background:url('+*{'data:image/jpeg;base64,'+{gym.image}}+');  background-repeat: no-repeat;background-size: cover;'"></div>

                        <!--                        <img alt="" th:src="*{'data:image/jpeg;base64,'+{gym.image}}"-->
                        <!--                             style=" min-height: 200px;max-height: 200px; width: 100%">-->
                        <p>Город: <span th:text="${gym.getCity()}"></span></p>
                        <p>Улица: <span th:text="${gym.getStreet()}"></span></p>
                        <p>Дом: <span th:text="${gym.getHouse()}"></span></p>
                        <center><a th:href="@{'/gym/' + ${gym.getId()} }">Перейти к залу</a></center>
                    </div>
                </div>

            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>

        <div style="display: flex; justify-content: space-around">
            <div sec:authorize="hasRole('ROLE_ADMIN')" STYLE="z-index: 999">
                <h4>Регистрация зала</h4>
                <form style="width: 350px; border: #e5e5e5 1px solid; padding: 20px" action="/addGym" method="post" enctype="multipart/form-data">

                    <!-- Name -->
                    <div>
                        <input type="text" name="city" placeholder="Город" required>
                    </div>
                    <!-- Price -->
                    <div>
                        <input type="text" name="street" placeholder="Улица" required>
                    </div>
                    <div>
                        <input type="text" name="house" placeholder="Дом" required>
                        <!-- Description -->
                    </div>
                    <div class="custom-file mb-4">
                        <input type="file" name="file"
                               id="customFile" required> <label
                            for="customFile">Фотография</label>
                    </div>
                    <!-- Sign in button -->
                    <button type="submit" style="width: 100px;color: black;">добавить зал</button>
                </form>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')" STYLE="z-index: 999">
                <h4>Регистрация тренера</h4>
                <form style="width: 350px; border: #e5e5e5 1px solid; padding: 20px" action="/addTrainer" method="post" enctype="multipart/form-data">

                    <div><label> Логин : <input type="text" name="login"/> </label></div>
                    <div><label> Пароль: <input type="password" name="password"/> </label></div>
                    <div><label> Имя: <input type="text" name="name"/> </label></div>
                    <div><label> Фамилия: <input type="text" name="surname"/> </label></div>
                    <div><label> Дата рождения: <input type="date" name="date"/> </label></div>
                    <div><label> Телефон: <input type="tel" name="tel" placeholder="+375(__)___-__-__"/> </label></div>
                    <div><label> Опыт: <input type="number" name="experience"/> </label></div>
                    <div style="display: flex"><label> Пол: <input type="radio" id="boy" name="sex" value="1">
                        <label for="boy">Мужской</label><br>
                        <input type="radio" id="girl" name="sex" value="0">
                        <label for="girl">Женский</label><br> </label></div>


                    <div class="custom-file mb-4">
                        <input type="file" name="file"
                               id="trainerFile" required> <label
                            for="trainerFile">trainer Image</label>
                    </div>
                    <div><label for="trainer">Зал:</label>
                        <select id="trainer" name="gymId" style="color: black" required>
                            <option th:each="gym: ${gyms}" style="color: black" th:value="${gym.getId()}"
                                    th:text="${gym.getCity()}+ ', ' + ${gym.getStreet()} + ', ' + ${gym.getHouse()}"></option>

                        </select>
                    </div>
                    <!-- Sign in button -->
                    <button type="submit" style="width: 100px;color: black;">Зарегистрировать</button>
                </form>
            </div>
        </div>

    </div>
</section>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>

</body>
</html>